<nav class="navbar navbar-dark navbar-expand-lg bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/homepage">My Site</a>
      <a class="navbar-brand" routerLink="">{{ (tokenUserModel$ | async)?.userName }}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          
          <li class="nav-item">
            <a class="nav-link" aria-current="page" (click)="testAuth()">Test Auth</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dashboard
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/dashboard/products" routerLinkActive="active">Product</a></li>
              <li><a class="dropdown-item" routerLink="/dashboard/customers" routerLinkActive="active">Customer</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/order-list" routerLinkActive="active">Orders</a>
          </li>
          
        </ul>
        <form class="d-flex" role="search">
          <app-cart-summary></app-cart-summary>
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-light" type="button" aria-current="page" routerLink="/login"  *ngIf="isLoggedIn()==false" routerLinkActive="active">Login</button>
          <button class="btn btn-outline-danger" type="button" aria-current="page" routerLink="/login" *ngIf="isLoggedIn()==true" (click)="logOut()" routerLinkActive="active">LogOut</button>
        </form>
      </div>
    </div>
  </nav>